<div>
    Star Count: {{input value=starCount}}
    </div>
    <div>
    Refresh Rate(ms): {{input value=refreshRate}}
    </div>
    
    {{star-field width=300 height=300 starCount=starCount refresh=refreshRate}}
    {{outlet}}
    
    <h1>te123sting</h1>
    
    <div class="ui input">
    {{input value=refreshRate}}
    </div>